@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Aring;
    src: url(./fonts/Aring.otf);
}

@font-face {
    font-family: Balbek;
    src: url(./fonts/Balbek.otf);
}

@font-face {
    font-family: Largest;
    src: url(./fonts/Largest.otf);
}

@font-face {
    font-family: Ringstun;
    src: url(./fonts/ringstun.otf);
}

@font-face {
    font-family: Wanderer;
    src: url(./fonts/WANDERER.otf);
}

@font-face {
    font-family: Asteroid;
    src: url(./fonts/asteroid.otf);
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}
